# .gitignore

# Heavy data
*.laz
*.tif
*.gpkg
!data_sample/*.tif  # exception if you want to keep 1 demo
!data_sample/*.gpkg

# Jupyter checkpoints
.ipynb_checkpoints/

# Cache and system files
__pycache__/
*.pyc
.DS_Store

